.rodapie_interes_link {
    font-family: var(--font-family);
    font-size: 1.15rem;
    font-weight: bold;
    word-spacing: .3rem;
    text-decoration: none;
    color: gray;
    padding: .5rem;
    margin: 0 auto;
}

@media screen and (min-width:768px) { 
    .rodapie_interes_link {
        margin: 0;        
    }
}